LogicApp/getMDISensorHealthStatus.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "Recurrence": {
                "type": "Recurrence",
                "recurrence": {
                    "interval": 1,
                    "frequency": "Day",
                    "timeZone": "US Mountain Standard Time",
                    "schedule": {
                        "hours": [
                            9
                        ]
                    }
                }
            }
        },
        "actions": {
            "HTTP": {
                "type": "Http",
                "inputs": {
                    "uri": "https://graph.microsoft.com/beta/security/identities/sensors?$select=displayName,sensorType,version,deploymentStatus,domainName,healthStatus,openHealthIssuesCount,serviceStatus",
                    "method": "GET",
                    "authentication": {
                        "type": "ManagedServiceIdentity",
                        "audience": "https://graph.microsoft.com"
                    }
                },
                "runAfter": {
                    "Initialize_variables_3": [
                        "Succeeded"
                    ]
                },
                "runtimeConfiguration": {
                    "contentTransfer": {
                        "transferMode": "Chunked"
                    }
                }
            },
            "Initialize_variables_3": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "bool_loopDone",
                            "type": "boolean",
                            "value": false
                        },
                        {
                            "name": "array_results",
                            "type": "array"
                        },
                        {
                            "name": "str_nextLink",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {}
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@outputs('Compose')",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "@@odata.context": {
                                "type": "string"
                            },
                            "value": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "displayName": {
                                            "type": "string"
                                        },
                                        "sensorType": {
                                            "type": "string"
                                        },
                                        "version": {
                                            "type": "string"
                                        },
                                        "deploymentStatus": {
                                            "type": "string"
                                        },
                                        "domainName": {
                                            "type": "string"
                                        },
                                        "healthStatus": {
                                            "type": "string"
                                        },
                                        "openHealthIssuesCount": {
                                            "type": "integer"
                                        },
                                        "serviceStatus": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "displayName",
                                        "sensorType",
                                        "version",
                                        "deploymentStatus",
                                        "domainName",
                                        "healthStatus",
                                        "openHealthIssuesCount",
                                        "serviceStatus"
                                    ]
                                }
                            }
                        }
                    }
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                }
            },
            "For_each": {
                "type": "Foreach",
                "foreach": "@body('Parse_JSON')?['value']",
                "actions": {
                    "Append_to_array_variable": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                            "name": "array_results",
                            "value": "@items('For_each')"
                        }
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                }
            },
            "Compose": {
                "type": "Compose",
                "inputs": "@body('HTTP')",
                "runAfter": {
                    "HTTP": [
                        "Succeeded"
                    ]
                }
            },
            "Create_HTML_table": {
                "type": "Table",
                "inputs": {
                    "from": "@variables('array_results')",
                    "format": "HTML"
                },
                "runAfter": {
                    "For_each": [
                        "Succeeded"
                    ]
                }
            },
            "Post_to_Teams_Webhook": {
                "runAfter": {
                    "Create_HTML_table": [
                        "Succeeded"
                    ]
                },
                "type": "Http",
                "inputs": {
                    "uri": "<Insert webhook url here>",
                    "method": "POST",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "body": {
                        "text": "@{outputs('Create_HTML_table')?['body']}"
                    }
                }
            }
        },
        "outputs": {}
    },
    "kind": "stateful"
}
